@import '../../styles/mixin';

.ArticleList {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    .logoBox {

        @include desktop {
            width: 650px;
            margin-top: 80px;
            margin-bottom: 70px;
        }

        @include mobile {
            width: 70%;
            margin-bottom: 40px;
        }

        width: 80%;
        margin-bottom: 50px;

        cursor: pointer;
    }
}